.summary{
  font-size: 6vw;
  font-family: "Montserrat", sans-serif;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    text-align: center;
  }
  